## Hotel/Restaurant Reviews (Sentiment / Text with noise)

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
df=pd.read_csv("HRAST.csv")

In [5]:
df

,id,review,Unnamed: 2,positive,negative,neutral,Clean,Comfort,Facilities/Amenities,Location,...,Bar,Bed,Parking,Noise,Reception-checkin,Lift,Value for money,Wi-Fi,Generic,Aspect
0,1,1 elevator not working.,NaN,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,2,1 euros to park per day on their own premises.,NaN,0,0,1,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
2,3,1 hour queue to check-in.,NaN,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,4,1 min walk to metro entrance and also few min ...,NaN,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,5,1 minute walk from the main metro & train stat...,NaN,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23108,23109,Young staff that deserves success.,NaN,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23109,23110,"Young, clean, a stone's throw from the city ce...",NaN,1,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,1,0
23110,23111,"Young, friendly and helpful staff.",NaN,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23111,23112,"Young, very friendly and attentive staff at re...",NaN,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23112,23113,"Zero noise isolation in the room, you can hear...",NaN,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [6]:
df.head()

,id,review,Unnamed: 2,positive,negative,neutral,Clean,Comfort,Facilities/Amenities,Location,...,Bar,Bed,Parking,Noise,Reception-checkin,Lift,Value for money,Wi-Fi,Generic,Aspect
0,1,1 elevator not working.,NaN,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,2,1 euros to park per day on their own premises.,NaN,0,0,1,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
2,3,1 hour queue to check-in.,NaN,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,4,1 min walk to metro entrance and also few min ...,NaN,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,5,1 minute walk from the main metro & train stat...,NaN,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [7]:
df.columns

Index(['id', 'review', 'Unnamed: 2', 'positive', 'negative', 'neutral',
       'Clean', 'Comfort', 'Facilities/Amenities', 'Location',
       'Restaurant (dinner)', 'Staff', 'View (Balcony)', 'Breakfast', 'Room',
       'Pool', 'Beach', 'Bathroom/Shower (toilet)', 'Bar', 'Bed', 'Parking',
       'Noise', 'Reception-checkin', 'Lift', 'Value for money', 'Wi-Fi',
       'Generic', 'Aspect'],
      dtype='object')

In [13]:
# Basic cleaning of text reviews
def clean_text(text):
    text = str(text).lower()
    text = re.sub(r"http\S+|www\S+", "", text)  # remove URLs
    text = re.sub(r"[^a-z\s]", "", text)  # remove punctuation
    text = re.sub(r"\s+", " ", text).strip()  # remove extra whitespace
    return text
df.head()

,id,review,Unnamed: 2,positive,negative,neutral,Clean,Comfort,Facilities/Amenities,Location,...,Bar,Bed,Parking,Noise,Reception-checkin,Lift,Value for money,Wi-Fi,Generic,Aspect
0,1,1 elevator not working.,NaN,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,2,1 euros to park per day on their own premises.,NaN,0,0,1,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
2,3,1 hour queue to check-in.,NaN,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,4,1 min walk to metro entrance and also few min ...,NaN,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,5,1 minute walk from the main metro & train stat...,NaN,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [16]:
df["review"] = df["review"].apply(clean_text)

NameError: name 're' is not defined